[submodule "Plugins/UE5_MultiplayLibrary"]
	path = Plugins/MultiplayLibrary
	url = git@github.com:kjinwoo12/UE5_MultiplayLibrary.git
[submodule "UE5_EquipmentLibrary"]
	path = Plugins/EquipmentLibrary
	url = git@github.com:kjinwoo12/UE5_EquipmentLibrary.git
[submodule "Plugins/EquipmentLibrary"]
	path = Plugins/EquipmentLibrary
	url = git@github.com:kjinwoo12/UE5_EquipmentLibrary.git
